_cat
_echo
_forktest
_grep
_init
_kill
_ln
_ls
_mkdir
_rm
_sh
_stressfs
_usertests
_wc
_zombie
bio.d
bio.o
bootasm.d
bootasm.o
bootblock
bootblock.asm
bootblock.o
bootmain.d
bootmain.o
bootother
bootother.asm
bootother.d
bootother.o
bootother.out
cat.asm
cat.d
cat.sym
console.d
console.o
data.o
echo.asm
echo.d
echo.sym
exec.d
exec.o
file.d
file.o
forktest.asm
forktest.d
forktest.o
fs.d
fs.img
fs.o
grep.asm
grep.d
grep.sym
ide.d
ide.o
init.asm
init.d
init.sym
initcode
initcode.asm
initcode.d
initcode.o
initcode.out
ioapic.d
ioapic.o
kalloc.d
kalloc.o
kbd.d
kbd.o
kernel
kernel.asm
kernel.sym
kill.asm
kill.d
kill.sym
lapic.d
lapic.o
ln.asm
ln.d
ln.sym
ls.asm
ls.d
ls.sym
main.d
main.o
mkdir.asm
mkdir.d
mkdir.sym
mkfs
mp.d
mp.o
multiboot.o
picirq.d
picirq.o
pipe.d
pipe.o
printf.d
printf.o
proc.d
proc.o
rm.asm
rm.d
rm.sym
sh.asm
sh.d
sh.sym
spinlock.d
spinlock.o
stressfs.asm
stressfs.d
stressfs.sym
string.d
string.o
swtch.o
syscall.d
syscall.o
sysfile.d
sysfile.o
sysproc.d
sysproc.o
timer.d
timer.o
trap.d
trap.o
trapasm.o
uart.d
uart.o
ulib.d
ulib.o
umalloc.d
umalloc.o
usertests.asm
usertests.d
usertests.sym
usys.o
vectors.S
vectors.o
vm.d
vm.o
wc.asm
wc.d
wc.sym
xv6.img
zombie.asm
zombie.d
zombie.sym
